# Pandas - Working with Time Series Date Data

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

# Let's create a pandas series that logs time every hour from 1st Nov'19 to 7th Nov'19
df = pd.date_range(start='11/01/2019', end='11/07/2019', freq='H')
df

DatetimeIndex(['2019-11-01 00:00:00', '2019-11-01 01:00:00',
               '2019-11-01 02:00:00', '2019-11-01 03:00:00',
               '2019-11-01 04:00:00', '2019-11-01 05:00:00',
               '2019-11-01 06:00:00', '2019-11-01 07:00:00',
               '2019-11-01 08:00:00', '2019-11-01 09:00:00',
               ...
               '2019-11-06 15:00:00', '2019-11-06 16:00:00',
               '2019-11-06 17:00:00', '2019-11-06 18:00:00',
               '2019-11-06 19:00:00', '2019-11-06 20:00:00',
               '2019-11-06 21:00:00', '2019-11-06 22:00:00',
               '2019-11-06 23:00:00', '2019-11-07 00:00:00'],
              dtype='datetime64[ns]', length=145, freq='H')

**NOTE ISO 8601 format**
-  yyyy-mm-dd hh:mm:ss

In [2]:
len(df)

145

In [3]:
type(df)

pandas.core.indexes.datetimes.DatetimeIndex

In [4]:
df = pd.DataFrame(df, columns=['date'])

# And add a 'made up' column for sales data
df['sales'] = np.random.randint(0,1000,size=(len(df)))
df.head()

                 date  sales
0 2019-11-01 00:00:00    911
1 2019-11-01 01:00:00    559
2 2019-11-01 02:00:00    939
3 2019-11-01 03:00:00    517
4 2019-11-01 04:00:00     89

# Selecting using dates

In [5]:
# Set your date as the index 
df = df.set_index('date')
df.head()

                     sales
date
2019-11-01 00:00:00    911
2019-11-01 01:00:00    559
2019-11-01 02:00:00    939
2019-11-01 03:00:00    517
2019-11-01 04:00:00     89

## Using .loc[] to index specific dates

In [6]:
# Selecting using date - getting exact value for cell 
df.loc['2019-11-01 03:00:00', 'sales']

517

In [7]:
# Selecting using date to return the row corresponding to that date
df.loc['2019-11-01 03:00:00']

sales    517
Name: 2019-11-01 03:00:00, dtype: int64

In [8]:
# Selecting an entire day
df.loc['2019-11-01']

# Similary you an use df.loc['2019-11'] to select and entire month

                     sales
date
2019-11-01 00:00:00    911
2019-11-01 01:00:00    559
2019-11-01 02:00:00    939
2019-11-01 03:00:00    517
2019-11-01 04:00:00     89
2019-11-01 05:00:00    987
2019-11-01 06:00:00    135
2019-11-01 07:00:00    509
2019-11-01 08:00:00    687
2019-11-01 09:00:00    182
2019-11-01 10:00:00    322
2019-11-01 11:00:00     24
2019-11-01 12:00:00    727
2019-11-01 13:00:00    988
2019-11-01 14:00:00    103
2019-11-01 15:00:00    380
2019-11-01 16:00:00    656
2019-11-01 17:00:00    271
2019-11-01 18:00:00    455
2019-11-01 19:00:00    647
2019-11-01 20:00:00    767
2019-11-01 21:00:00    644
2019-11-01 22:00:00    245
2019-11-01 23:00:00    514

In [9]:
# Selecting a range of dates
df.loc['2019-11-01':'2019-11-02']

                     sales
date
2019-11-01 00:00:00    911
2019-11-01 01:00:00    559
2019-11-01 02:00:00    939
2019-11-01 03:00:00    517
2019-11-01 04:00:00     89
2019-11-01 05:00:00    987
2019-11-01 06:00:00    135
2019-11-01 07:00:00    509
2019-11-01 08:00:00    687
2019-11-01 09:00:00    182
2019-11-01 10:00:00    322
2019-11-01 11:00:00     24
2019-11-01 12:00:00    727
2019-11-01 13:00:00    988
2019-11-01 14:00:00    103
2019-11-01 15:00:00    380
2019-11-01 16:00:00    656
2019-11-01 17:00:00    271
2019-11-01 18:00:00    455
2019-11-01 19:00:00    647
2019-11-01 20:00:00    767
2019-11-01 21:00:00    644
2019-11-01 22:00:00    245
2019-11-01 23:00:00    514
2019-11-02 00:00:00    698
2019-11-02 01:00:00    142
2019-11-02 02:00:00    693
2019-11-02 03:00:00    310
2019-11-02 04:00:00    227
2019-11-02 05:00:00    515
2019-11-02 06:00:00    244
2019-11-02 07:00:00    858
2019-11-02 08:00:00    904
2019-11-02 09:00:00    899
2019-11-02 10:00:00    422
2019-11-02 11:00:00    220
2019-11-02 12:00:00    253
2019-11-02 13:00:00    573
2019-11-02 14:00:00     92
2019-11-02 15:00:00    797
2019-11-02 16:00:00    853
2019-11-02 17:00:00    983
2019-11-02 18:00:00    396
2019-11-02 19:00:00    796
2019-11-02 20:00:00    812
2019-11-02 21:00:00    218
2019-11-02 22:00:00     58
2019-11-02 23:00:00    718

# Resampling

**Summary States** - we can use Statistical methods over different time intervals
- mean(), sum(), count(), min(), max()

**Down-sampling**
- reduce datetime rows to longer frequency

**Up-sampling**
- increase datetime rows to shorter frequency

In [10]:
# Using resample to get the average for each day per hour

df.resample('D').mean()
#df.resample('D').sum()

                 sales
date
2019-11-01  510.750000
2019-11-02  528.375000
2019-11-03  470.500000
2019-11-04  429.791667
2019-11-05  501.208333
2019-11-06  467.083333
2019-11-07  448.000000

In [11]:
# Using resample to get the average for each minute (upsampling)

df.resample('T').mean().head()

                     sales
date
2019-11-01 00:00:00  911.0
2019-11-01 00:01:00    NaN
2019-11-01 00:02:00    NaN
2019-11-01 00:03:00    NaN
2019-11-01 00:04:00    NaN

## Resampling frequencies

- 'min', 'T' - minute
- ‘H’ - hour
- ‘D’ - day
- ‘B’ - business day
- ‘W’ - week
- ‘M’ - month
- ‘Q’ - quarter
- ‘A’ - year

# Parsing dates

In [12]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      int64
 1   month   2 non-null      int64
 2   day     2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [14]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [15]:
pd.to_datetime('2019-01-01', format='%Y-%m-%d', errors='ignore')

Timestamp('2019-01-01 00:00:00')